extends ../layout

block content
  .row
    .col-md-4
      img.avatar.center-block(src="#{User.profile.avatar || User.gravatar()}" alt="avatar profile")
    .col-md-8
      h1= User.username
      if User.profile.bio
        h4.text-muted= User.profile.bio
      p Joined on #{moment(User.profile.joinDate).format('MMMM D, YYYY')}
      if User.profile.location
        p Location: #{User.profile.location}
      if User.profile.website
        p 
          | Website: 
          a(href="#{User.profile.website}")= User.profile.website
