extends ../layout

block content
  .page-header
    h1= title
      small &nbsp;#{description}
  .row
    .col-md-4
      ul.nav.nav-pills.nav-stacked
        li(class=title==='Account'?'active':undefined)
          a(href="/settings/account") Account
            span.fa.fa-arrow-right.pull-right
        li(class=title==='Google'?'active':undefined)
          a(href="/settings/google") Google
            span.fa.fa-arrow-right.pull-right
        li(class=title==='Password'?'active':undefined)
          a(href="/settings/password") Password
            span.fa.fa-arrow-right.pull-right
    .col-md-8
      if title === "Account"
        form.form-horizontal(role="form" method="post")
          input(type="hidden" name="_csrf" value=_csrf)
          .form-group
            label.col-sm-2.control-label Avatar
            .col-sm-10
              input.form-control(type="text" name="avatar" value="#{user.profile.avatar}")
              p.help-block Enter .png, .jpg, .gif image url here
              br
              img.avatar(src="#{user.profile.avatar || user.gravatar()}" alt="avatar profile")
          .form-group
            label.col-sm-2.control-label Username
            .col-sm-10
              input.form-control(type="text" name="username" value="#{user.username}" required)
              p.help-block http://localhost:3000/#{user.uid}
          .form-group
            label.col-sm-2.control-label Email
            .col-sm-10
              input.form-control(type="email" name="email" value="#{user.email}" required)
              p.help-block Email will not be publicly displayed.
          .form-group
            label.col-sm-2.control-label Location
            .col-sm-10
              input.form-control(type="text" name="location" value="#{user.profile.location}")
              p.help-block Where in the world are you?
          .form-group
            label.col-sm-2.control-label Website
            .col-sm-10
              input.form-control(type="text" name="website" value="#{user.profile.website}")
              p.help-block Have a homepage or a blog? Put the address here.
          .form-group
            label.col-sm-2.control-label Bio
            .col-sm-10
              textarea.form-control.bio(name="bio" rows="3") #{user.profile.bio}
              p.help-block About yourself in 160 characters or less.
                span.count.pull-right 160
          .form-group
            .col-sm-offset-2.col-sm-4
              button.btn.btn-primary(type="submit") Save Changes
        hr
        a(href="/settings/delete") Delete my account
        br
        br
      if title === 'Password'
        form(role="form" method="post")
          input(type="hidden" name="_csrf" value=_csrf)
          .form-group
            label New Password
            input.form-control(type="password" name="password" required)
          .form-group
            label Confirm Password
            input.form-control(type="password" name="confirmPassword" required)
          .form-group
            button.btn.btn-primary(type="submit") Save Changes
      if title === 'Google'
        if user.google
          .text-center
            h1: a.text-danger(href='/settings/unlink/google' data-no-instant) Unlink your Google account
        else
          .text-center
            h1: a(href='/auth/google' data-no-instant) Link your Google account
