extends layout

block content
  .row
    .col-md-12
      ul.nav.nav-pills
        li(role="presentation"): a(href="https://www.youtube.com/user/#{channel}/videos" data-no-instant): b= channel
        li(role="presentation"): a(href="https://www.youtube.com/user/#{channel}/about" data-no-instant) About
        li(role="presentation"): a(href="https://www.youtube.com/user/#{channel}/playlists" data-no-instant) Playlists
        li(role="presentation"): a(href="https://www.youtube.com/user/#{channel}/channels" data-no-instant) Channels
        li(role="presentation"): a(href="https://www.youtube.com/user/#{channel}/discussion" data-no-instant) Discussion
        li.dropdown(role="presentation")
          - var newest = 'Date added (newest - oldest)'
          - var popular = 'Most Popular'
          if !query
            a.dropdown-toggle(href="#" data-toggle="dropdown" aria-expanded="false" data-no-instant)
              | #{newest}&nbsp;
              span.caret
            ul.dropdown-menu(role="menu")
              li: a(href="/user/#{channel}?sort=popular") #{popular}&nbsp;
          else
            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false")
              | #{popular}&nbsp;
              span.caret
            ul.dropdown-menu(role="menu")
              li: a(href="/user/#{channel}") #{newest}&nbsp;
      hr
    if videos.length >= 1
      .row
        for vid in videos
          .col-md-3
            a(href="#{vid.link}" title="#{vid.title}" data-no-instant)
              img.img-responsive(src="#{vid.img}")
              span.video-time.channel= vid.time
              if vid.title.length > 25
                h5: a(href="#{vid.link}" title="#{vid.title}" data-no-instant).
                  #{vid.title.substr(0, 20)}...
              else
                h5: a(href="#{vid.link}" title="#{vid.title}" data-no-instant)= vid.title
              h6 #{vid.viewCount}
                span.text-muted &nbsp;&nbsp;#{vid.publishedAt}
            br
      .text-center
        button.btn.btn-primary#load-more(data-page=sort) Load more
        #spinner
          button.btn.btn-default(disabled="disabled") 
            span#spinner.fa.fa-spinner.fa-spin
            | &nbsp;Loading...
    else
      .text-center
        h1 This channel has no content.
