extends layout

block content
  .row
  for instance, index in videos
    - var vid = JSON.parse(instance).items[0]
    .col-md-2
      img.img-responsive(src="https://i.ytimg.com/vi_webp/#{vid.id}/mqdefault.webp")
      span.video-time= convert(vid.contentDetails.duration)
      h4
        a(href="https://www.youtube.com/watch?v=#{vid.id}" target="_blank" data-no-instant)= vid.snippet.title
      h6
        | by&nbsp;
        a(href="https://www.youtube.com/channel/#{vid.snippet.channelId}/videos?view=0" target="_blank" data-no-instant)= vid.snippet.channelTitle
      h6= moment(vid.snippet.publishedAt).fromNow()
      h6= vid.statistics.viewCount
