extends layout

block content
  .row
    if videos.length >= 1
      for vid in videos
        .col-md-3
          a(href="#{vid.link}" title="#{vid.title}" data-no-instant)
            img.img-responsive(src="#{vid.img}")
            span.video-time= vid.time
            if vid.title.length > 25
              h5: a(href="#{vid.link}" title="#{vid.title}" data-no-instant).
                #{vid.title.substr(0, 25)}...
            else
              h5: a(href="#{vid.link}" title="#{vid.title}" data-no-instant)= vid.title
            h6
              | by&nbsp;
              a(href="/user/#{vid.author}").
                #{vid.author}
            h6 #{vid.viewCount}
              span.text-muted &nbsp;&nbsp;#{vid.publishedAt}
    else
      .text-center
        h1 
          | You either have no subscriptions or your subscriptions aren't posting any new videos. Visit the 
          a(href="/subscriptions") subscriptions
          |  page to add new subscriptions.
